.App {
  display: flex;
  height: 100%;
  background: linear-gradient(0deg, rgba(49,57,80,1) 41%, rgba(49,57,80,1) 41%);
}
:root{
  background: linear-gradient(0deg, rgba(49,57,80,1) 41%, rgba(49,57,80,1) 41%);
}